extends layout

block content
  h1= title
  p This project is currently under development at github.com/jakeleboeuf/scrape-indiegogo
  br
  h3 Give it a try!
  p just go to&nbsp;
    a(href="/YOUR-INDIEGOGO-CAMPAIGN-URL") scrape-indiegogo.herokuapp.com/YOUR-INDIEGOGO-CAMPAIGN-URL
